 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Orbitron", sans-serif;
 }

 .tela-inicial {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #7e1c13;
     height: 100vh;
     width: 100%;
     flex-direction: column;
     z-index: 10;
     background: url(images/9453de3c3118f574b209900e9e280eb7.jpg);
     background-size: cover;
 }


 .main {
     margin-top: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-bottom: 70px;

     .titulo {
         margin-bottom: 20px;
         text-align: center;
         color: white;
         line-height: 50px;
         font-size: 40px;
     }
 }

 .imagem-sushi img {
     width: 300px;
 }

 .nome {
     position: absolute;
     top: 120px;
     font-size: 30px;
     color: white;
     animation: piscar 1s infinite alternate;
     backdrop-filter: blur(5px);
     padding: 10px;
     width: 100%;
     text-align: center;
 }

 @keyframes piscar {
     0% {
         color: #ff0000;
     }

     20% {
         color: #ff9900;
     }

     40% {
         color: #ffff00;
     }

     60% {
         color: #00ff00;
     }

     80% {
         color: #00ccff;
     }

     100% {
         color: #2f00ff;
     }
 }

 .botao-comecar {
     padding: 10px;
     border: none;
     border-radius: 10px;
     width: 120px;
     margin-top: 60px;
     cursor: pointer;
     transition: all 1s;
     border: 1px solid #ddd;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

     &:hover {
         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     }
 }




 .tela-principal {
     display: flex;
     object-fit: contain;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 100vh;
     width: 100%;
     gap: 10px;
     z-index: 5;
 }

 .itens {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 5px;
     margin-top: 15px;
     min-width: 100%;
 }


 .peca {
     height: 70px;
     padding: 5px 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: row;
     width: 100%;
     max-width: 600px;
     border: 1px solid #ddd;
     border-radius: 15px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
     gap: 5px;
     overflow: hidden;

     img {
         border: 1px solid #ddd;
         border-radius: 15px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
         width: 95px;

         object-fit: cover;
     }

     h2 {
         font-size: 20px;
     }

 }

 .buttons {

     display: flex;
     gap: 25px;
     margin-right: 5px;

     .botoesmenos {
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: rgb(221, 40, 40);
         width: 30px;
         height: 30px;
         color: white;
         font-size: 30px;
         border-radius: 5px;
     }

     .botoesmais {
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: rgb(30, 145, 39);
         width: 30px;
         height: 30px;
         color: white;
         font-size: 20px;
         font-weight: bold;
         border-radius: 5px;

     }

     span {
         display: flex;
         align-items: center;
         justify-content: center;
     }
 }

 #botao-finalizar {
     padding: 10px;
     width: 100px;
     margin-top: 30px;
     border-radius: 5px;
     display: inline-block;
     color: rgb(0, 0, 0);
     font-weight: bold;
     font-size: 15px;
     border: 1px solid #000000;


 }

 .tela-final {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 100%;
     width: 100%;
     z-index: 1;
 }

 .content {
     display: flex;
     width: 100%;
     height: 100vh;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 15px;

     h2 {
         position: absolute;
         top: 100px;
         margin-bottom: 15px;
     }

     h3 {
         margin-top: 30px;
     }

     p {
         font-size: 20px;
         
     }

 }

 .login {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100vh;
     z-index: 0;
     background-color: transparent;

     div {
         padding: 10px;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 20px;
         flex-direction: column;
         border: 2px solid #ff0000;
         width: 70%;
         border-radius: 10px;
         box-shadow:
             0 0 5px #ff0000,
             0 0 15px #ff0000,
             0 0 30px #ff0000,
             0 0 60px #ff0000;
         text-align: center;
         font-size: 20px;
         transition: box-shadow 0.3s ease-in-out;

         button {
             width: 40px;
         }
     }
 }

 .placar {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 100vh;
     width: 100%;
     gap: 20px;

 }

 .divs-placar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border: 1px solid black;
     padding: 10px;
     width: 90%;
     flex-direction: row;

 }

 #verRanking {
     padding: 10px;
     width: 100px;
     margin-top: 30px;
     border-radius: 5px;
     display: inline-block;
     color: rgb(0, 0, 0);
     font-weight: bold;
     font-size: 15px;
     border: 1px solid #000000;
 }

 #btn-registrar {
     padding: 5px;
     width: 70px;
     margin-top: 30px;
     border-radius: 5px;
     display: inline-block;
     color: rgb(0, 0, 0);
     font-weight: bold;
     font-size: 15px;
     border: 1px solid #000000;
     text-align: center;
 }

 .verRankingTelaPrincipal{
    padding: 10px;
     border: none;
     border-radius: 10px;
     width: 120px;
     margin-top: 20px;
     cursor: pointer;
     transition: all 1s;
     border: 1px solid #ddd;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }


 .none {
     display: none;
 }

